.center-text {
  text-align: center !important; }

.margin-bottom-big {
  margin-bottom: 7rem !important; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desk

ORDER: Base + ty[pgra[hy > general layout + grid > page layout > components
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  background-color: #1b2e44;
  color: #e7dede; }

body {
  font-family: "Lato", Tahoma, Verdana, sans-serif;
  color: #e7dede;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  color: #e7dede;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  text-transform: uppercase;
  display: block; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation-name: fromLeft;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards; }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    letter-spacing: 1rem;
    animation-name: fromRight;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards; }

.heading-secondary {
  font-size: 5rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, peru, #eece1a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem; }
  .heading-secondary--white {
    background-image: linear-gradient(to right, #e7dede, #fff); }

.heading-paragraph {
  display: block;
  font-size: 2rem;
  color: #1b2e44;
  font-weight: 400; }
  .heading-paragraph--white {
    color: #e7dede; }

@keyframes fromLeft {
  0% {
    opacity: 0;
    display: none;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fromRight {
  0% {
    opacity: 0;
    display: none;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes appear {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(-7rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 2rem 6rem;
  margin-top: 4rem;
  font-size: 1.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 10rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.4s; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: fromBottom 1s ease-out 1s;
  animation-fill-mode: backwards; }

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.95;
  filter: blur(8px) brightness(70%) grayscale(90%);
  overflow: hidden;
  z-index: -1; }
  .background-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.row {
  max-width: 120rem;
  margin: 0 auto; }

.about-info {
  margin: 0 auto; }
  .about-info__wrapper {
    max-width: 100%;
    height: 45rem;
    margin: 0 auto;
    box-shadow: 3rem 4rem 7rem rgba(25, 45, 92, 0.4);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 7rem;
    transform: skewX(-12deg); }
  .about-info__shape {
    width: 30rem;
    height: 30rem;
    float: left;
    overflow: hidden;
    margin-right: 3rem;
    margin-bottom: 1rem;
    transform: skewX(12deg);
    filter: brightness(90%); }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .about-info__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        width: 30rem;
        height: 30rem;
        margin-right: 5rem;
        margin-bottom: 1rem;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
  .about-info__img {
    height: 100%;
    width: 100%;
    backface-visibility: hidden; }
  .about-info__text {
    transform: skewX(12deg); }
  .about-info__paragraph {
    font-size: 2rem;
    color: #444; }

.menu-btn {
  position: absolute;
  z-index: 5;
  right: 5.5rem;
  top: 5.5rem;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn:hover {
    transform: scale(1.1); }
  .menu-btn__line {
    width: 3.8rem;
    height: 0.3rem;
    margin: 0 0 0.7rem 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg) translateY(4px); }
    .menu-btn.close .menu-btn__line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .menu-btn__line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .menu-btn__line:nth-child(3) {
      transform: rotate(-45deg) translate(8px, -8px); }

.work__projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem; }

.work__image {
  width: 100%; }

.btn-project {
  color: #fff; }

.section-about {
  padding: 11rem 0;
  background-color: #eee;
  position: relative; }

.work {
  padding: 11rem 4rem;
  background-image: linear-gradient(to right top, rgba(119, 119, 119, 0.9), rgba(25, 45, 92, 0.9)), url(../img/background-image-2.jpg);
  background-size: cover;
  background-position: top; }

.header {
  width: 100%;
  height: 90vh;
  position: relative;
  background-image: linear-gradient(to right top, rgba(119, 119, 119, 0.9), rgba(25, 45, 92, 0.9)), url(../img/background-image-1.jpg);
  background-size: cover;
  background-position: top; }
  .header__logo-box {
    position: absolute;
    top: 4.5rem;
    left: 4.5rem; }
  .header__logo {
    height: 5.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90vw; }
  .header__icons-list {
    list-style-type: none;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
    bottom: 4.5rem;
    left: 4.5rem;
    animation: appear 1s ease-out 1s;
    animation-fill-mode: backwards; }
  .header__icons-item:not(:last-child) {
    margin-bottom: 1.1rem; }
  .header__icons-link:link, .header__icons-link:visited {
    text-decoration: none; }
  .header__icon {
    color: #fff;
    font-size: 3rem; }
    .header__icon:hover, .header__icon:active {
      transform: scale(1.4); }

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  z-index: 4;
  visibility: hidden; }
  .navigation.show {
    visibility: visible; }
  .navigation__author, .navigation__menu {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .navigation__menu {
    background: #0b1622;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .navigation__menu.show {
      transform: translate3d(0, 0, 0); }
  .navigation__author {
    background: #1b2e44;
    transition: all 0.5s ease-out;
    transform: translate3d(0, 100%, 0); }
    .navigation__author.show {
      transform: translate3d(0, 0, 0); }
  .navigation__portrait {
    width: 30rem;
    height: 30rem;
    background-image: url("../img/picture-1.jpg");
    background-size: cover;
    filter: brightness(70%);
    border-radius: 50%;
    border: 3px solid peru; }
  .navigation__item {
    list-style-type: none;
    transform: translate3d(90rem, 0, 0);
    transition: all 0.5s ease-out; }
    .navigation__item.show {
      transform: translate3d(0, 0, 0); }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #e7dede;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    padding: 1rem 0;
    transition: all 0.5s ease-out; }
  .navigation__link:hover, .navigation__link:active {
    color: peru; }

.navigation__item:nth-child(1) {
  transition-delay: 0.1s; }

.navigation__item:nth-child(2) {
  transition-delay: 0.2s; }

.navigation__item:nth-child(3) {
  transition-delay: 0.3s; }

.navigation__item:nth-child(4) {
  transition-delay: 0.4s; }
