.center-text {
  text-align: center !important; }

.margin-bottom-big {
  margin-bottom: 7rem !important; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

::selection {
  background-color: #101d2c;
  color: #d4c9c9; }

body {
  font-family: "Lato", sans-serif;
  color: #d4c9c9;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  color: #d4c9c9;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  text-transform: uppercase;
  display: block; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation-name: fromLeft;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    letter-spacing: 1rem;
    animation-name: fromRight;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 5rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #101d2c, #192d5c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem; }

@keyframes fromLeft {
  0% {
    opacity: 0;
    display: none;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fromRight {
  0% {
    opacity: 0;
    display: none;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes appear {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(-7rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 2rem 6rem;
  margin-top: 4rem;
  font-size: 1.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 10rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: fromBottom 1s ease-out 1s;
  animation-fill-mode: backwards; }

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .95;
  overflow: hidden;
  z-index: -1; }
  .background-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .background-video .failsafe-image {
    object-fit: cover;
    width: 100%;
    height: auto; }

.row {
  max-width: 120rem;
  margin: 0 auto; }

.about-info {
  margin: 0 auto; }
  .about-info__wrapper {
    max-width: 100%;
    height: 45rem;
    margin: 0 auto;
    box-shadow: 3rem 4rem 7rem rgba(25, 45, 92, 0.4);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 7rem;
    transform: skewX(-12deg); }
  .about-info__shape {
    width: 30rem;
    height: 30rem;
    float: left;
    overflow: hidden;
    margin-right: 3rem;
    margin-bottom: 1rem;
    transform: skewX(12deg); }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .about-info__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        width: 30rem;
        height: 30rem;
        margin-right: 5rem;
        margin-bottom: 1rem;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
  .about-info__img {
    height: 100%;
    width: 100%;
    backface-visibility: hidden; }
  .about-info__text {
    transform: skewX(12deg); }
  .about-info__paragraph {
    font-size: 2rem;
    color: #333; }

.section-about {
  padding: 11rem 0;
  background-color: #eee; }

.header {
  width: 100%;
  height: 90vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4.5rem;
    left: 4.5rem; }
  .header__logo {
    height: 5.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90vw; }
  .header__icons-list {
    list-style-type: none;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
    bottom: 4.5rem;
    left: 4.5rem;
    animation: appear 1s ease-out 1s; }
  .header__icons-item:not(:last-child) {
    margin-bottom: 1.1rem; }
  .header__icons-link {
    text-decoration: none; }
  .header__icon {
    color: #fff;
    font-size: 2.5rem; }
