*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

body {
  font-family: "Lato", sans-serif;
  color: #d4c9c9;
  font-weight: 300;
  line-height: 1.7; }

.heading-primary {
  color: #d4c9c9;
  backface-visibility: hidden;
  margin-bottom: 7rem;
  text-transform: uppercase;
  display: block; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    letter-spacing: 1rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 2rem 6rem;
  font-size: 1.7rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 10rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .95;
  overflow: hidden;
  z-index: -1; }
  .background-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .background-video .failsafe-image {
    object-fit: cover;
    width: 100%;
    height: auto; }

.header {
  width: 100%;
  height: 90vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4.5rem;
    left: 4.5rem; }
  .header__logo {
    height: 5.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
