@import "utils/variables";
@import "utils/utility-classes";
@import "utils/mixins";
@import "utils/functions";

@import "base/base";
@import "base/typography";
@import "base/animations";

@import "components/header-button";
@import "components/background-video";
@import "components/about-info";
@import "components/menu-btn";
@import "components/project-button";
@import "components/projects";
@import "components/technologies";
@import "components/contact";

@import "pages/home";

@import "layout/header";
@import "layout/navigation";
