.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: $background-primary, url(../img/background-image-1.jpg);
  background-size: cover;
  background-position: top;

  @include media(tab-port) {
    height: 100vh;
  }

  @include media(phone-land-large) {
    height: 100vh;
  }

  @include media(phone) {
    height: 100vh;
  }

  @include media(phone-land-small) {
    width: 100vw;
  }

  &__logo-box {
    position: absolute;
    top: 4.5rem;
    left: 4.5rem;
  }

  &__logo {
    height: 5.5rem;

    @include media(tab-port) {
      height: 4.5rem;
    }

    @include media(phone-land-medium) {
      height: 4.5rem;
    }

    @include media(phone) {
      height: 3.5rem;
    }
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90vw;

    @include media(tab-port) {
      top: 56%;
    }

    @include media(phone-land-large) {
      top: 56%;
    }

    @include media(phone-land-medium) {
      top: 56%;
    }

    @include media(phone-land-small) {
      top: 56%;
    }

    @include media(phone) {
      top: 49%;
    }
  }

  &__icons-list {
    list-style-type: none;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
    bottom: 4.5rem;
    left: 4.5rem;
    animation: appear 1s ease-out 0.7s;
    animation-fill-mode: backwards;
    z-index: 2;

    @include media(tab-port) {
      letter-spacing: 0.5rem;
      font-size: 2.5rem;
    }

    @include media(phone-land-large) {
      bottom: 0.5rem;
      left: 2.5rem;
    }

    @include media(phone-land-medium) {
      bottom: 0.5rem;
      left: 2.5rem;
    }

    @include media(phone) {
      bottom: 2rem;
      left: 2.5rem;
    }

    @include media(phone-small) {
      bottom: 1rem;
      left: 2rem;
    }
  }

  &__icons-item {
    &:not(:last-child) {
      margin-bottom: 1.1rem;
    }
  }

  &__icons-link {
    &:link,
    &:visited {
      text-decoration: none;
    }
  }

  &__icon {
    color: #fff;
    font-size: 3.7rem;
    background-image: linear-gradient(to right, $color-golden, $color-yellow);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    &:hover,
    &:active {
      transform: scale(1.4);
      @include easeOut-2;
    }
  }
}
