.row {
  max-width: $grid-default;
  margin: 0 auto;
}

.about-info {
  margin: 0 auto;

  &__wrapper {
    max-width: 100%;
    min-height: 45rem;
    margin: 0 auto;
    box-shadow: 3rem 4rem 7rem rgba($color-secondary--light, 0.4);
    border-radius: 3px;
    background-color: rgba($white, 0.7);
    padding: 7rem;
    transform: skewX(-12deg);
  }

  &__shape {
    width: 30rem;
    height: 30rem;
    // border-radius: 50%;
    float: left;
    overflow: hidden;
    margin-right: 3rem;
    margin-bottom: 1rem;
    transform: skewX(12deg);
    filter: brightness(90%);

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      width: 30rem;
      height: 30rem;
      margin-right: 5rem;
      margin-bottom: 1rem;
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;

    // border-radius: 50%;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__paragraph {
    font-size: 2rem;
    color: $color-grey-dark-3;
  }
}
