.contact {
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    font-size: 3rem;
    border: 3px $color-primary solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;

    @include media(phone) {
      text-align: center;
      font-size: 2.4rem;
    }

    @include media(phone-small) {
      font-size: 2.3rem;
    }

    &:hover {
      background: rgba($color-golden, 0.5);
      color: $color-primary;
      @include easeOut;
    }

    &:hover .text-golden {
      color: $color-primary;
    }
  }

  &__social {
  }

  &__social-list {
    display: flex;
    list-style-type: none;
  }

  &__social-item {
    font-size: 5.5rem;

    &:not(:last-child) {
      margin-right: 2.1rem;
    }
  }

  &__social-link {
    text-decoration: none;
  }

  &__social-icon {
    // color: $color-primary;
    background-image: linear-gradient(to right, $color-golden, $color-yellow);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    &:hover,
    &:active {
      transform: scale(1.2);
      @include easeOut-2;
    }
  }
}
