.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    padding: 2rem 6rem;
    margin-top: 4rem;
    font-size: 1.7rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 2rem 3rem rgba($black, 0.2);

    &::after {
      transform: scaleX(1.5) scaleY(1.7);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba($black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    border-radius: 10rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    background-color: #fff;
    color: $color-grey-dark;

    &::after {
      background-color: #fff;
    }
  }

  &--animated {
    animation: fromBottom 1s ease-out 1s;
    animation-fill-mode: backwards;
  }
}
