.menu-button-background {
  position: fixed;
  width: 7.5rem;
  height: 7.5rem;
  background: #fff;
  box-shadow: 0 1rem 3rem rgba(#000, 0.1);
  z-index: 1;
  border-radius: 50%;
  top: 2.9rem;
  right: 3.6rem;
  cursor: pointer;

  &.hide {
    display: none;
  }

  @include media(tab-port) {
    width: 7rem;
    height: 7rem;
  }

  @include media(phone-land-medium) {
    width: 6.5rem;
    height: 6.5rem;
    top: 2.5rem;
    right: 2.5rem;
  }

  @include media(phone) {
    width: 6.5rem;
    height: 6.5rem;
    top: 2.5rem;
    right: 2.5rem;
  }

  @include media(phone-small) {
    width: 6rem;
    height: 6rem;
  }
}

.menu-btn {
  position: fixed;
  z-index: 5;
  right: 5.5rem;
  top: 5.5rem;
  cursor: pointer;
  @include easeOut;

  @include media(phone) {
    right: 4rem;
    top: 4.7rem;
  }

  @include media(phone-land-large) {
    right: 5.2rem;
    top: 5.4rem;
  }

  @include media(phone-land-medium) {
    right: 4rem;
    top: 4.7rem;
  }

  @include media(phone-small) {
    width: 2.7rem;
    height: 3rem;
  }

  &__line {
    width: 3.8rem;
    height: 0.3rem;
    margin: 0 0 0.7rem 0;
    background: $color-secondary;
    @include easeOut;

    @include media(phone-land-medium) {
      width: 3.5rem;
    }

    @include media(phone) {
      width: 3.5rem;
    }

    @include media(phone-small) {
      width: 3rem;
    }
  }

  // Rotate into 'X' with menu items
  &.close {
    transform: rotate(180deg) translateY(4px);

    .menu-btn__line {
      background: #fff;
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);

        @include media(tab-port) {
          transform: rotate(-45deg) translate(6px, -5px);
        }

        @include media(phone-land-large) {
          transform: rotate(-45deg) translate(6px, -5px);
        }

        @include media(phone) {
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }
    }
  }
}
