.menu-button-background {
  position: fixed;
  width: 7.5rem;
  height: 7.5rem;
  background: #fff;
  box-shadow: 0 1rem 3rem rgba(#000, 0.1);
  z-index: 1;
  border-radius: 50%;
  top: 2.9rem;
  right: 3.6rem;

  &.hide {
    display: none;
  }
}

.menu-btn {
  position: fixed;
  z-index: 5;
  right: 5.5rem;
  top: 5.5rem;
  cursor: pointer;
  @include easeOut;

  // &::before {
  //   content: "";
  //   position: fixed;
  //   width: 7.5rem;
  //   height: 7.5rem;
  //   background: #fff;
  //   box-shadow: 0 1rem 3rem rgba(#000, 0.1);
  //   z-index: -1;
  //   border-radius: 50%;
  //   top: 2.9rem;
  //   right: 3.6rem;
  // }

  &__line {
    width: 3.8rem;
    height: 0.3rem;
    margin: 0 0 0.7rem 0;
    background: $color-secondary;
    @include easeOut;
  }

  // Rotate into 'X' with menu items
  &.close {
    transform: rotate(180deg) translateY(4px);

    .menu-btn__line {
      background: #fff;
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);
      }
    }
  }

  // &.close::before {
  //   z-index: -1;
  //   opacity: 0;
  //   display: none;
  //   @include easeOut;
  // }
}
