.work {
  &__projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    grid-gap: 7rem;
  }

  &__image {
    width: 100%;
    display: block;
    border: 3px $color-primary solid;
    align-self: start;

    &:hover {
      opacity: 0.7;
      border-color: $color-golden;
      @include easeOut;
    }
  }
}
