.work {
  &__projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(47rem, 1fr));
    grid-gap: 7rem;
    align-items: center;

    @include media(tab-port) {
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    }

    @include media(phone) {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    @include media(phone-small) {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
  }

  &__image {
    width: 100%;
    display: block;
    border: 3px $color-primary solid;
    align-self: start;

    &:hover {
      opacity: 0.7;
      border-color: $color-golden;
      @include easeOut;
    }
  }

  &__project-name {
    font-size: 2.5rem;
    border: 3px #e7dede solid;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
