.work {
  &__projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6.5rem;
    align-items: center;
  }

  &__image {
    width: 100%;
    display: block;
    border: 3px $color-primary solid;
    align-self: start;

    &:hover {
      opacity: 0.7;
      border-color: $color-golden;
      @include easeOut;
    }
  }
}
