.technologies {
  &__gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 5vw);
    grid-gap: 1.5rem;
    padding: 1.5rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

    &--jquery {
      object-fit: contain;
    }

    &--npm {
      object-fit: contain;
    }

    &--git {
      object-fit: contain;
    }

    &--rwd {
      object-fit: fill;
    }

    // &--sass {
    //   object-fit: contain;
    // }
  }

  &__item {
    &--1 {
      grid-row: 3 / span 3;
      grid-column: 3 / span 4;
    }

    &--2 {
      grid-row: 6 / 8;
      grid-column: 4 / 6;
    }

    &--3 {
      grid-row: 1 / span 3;
      grid-column: 1 / 3;
    }

    &--4 {
      grid-row: 8 / -1;
      grid-column: 4 / 7;
    }

    &--5 {
      grid-row: 1 / 3;
      grid-column: 3 / span 3;
    }

    &--6 {
      grid-row: 6 / 8;
      grid-column: 6 / -1;
    }

    &--7 {
      grid-row: 4 / span 2;
      grid-column: 1 / span 2;
    }

    &--8 {
      grid-row: 1 / 3;
      grid-column: 6 / -1;
    }

    &--9 {
      grid-row: 6 / -1;
      grid-column: 1 / span 3;
    }

    &--10 {
      grid-row: 3 / 6;
      grid-column: 7 / -1;
    }

    &--11 {
      grid-row: 8 / -1;
      grid-column: 7 / -1;
    }
  }
}
