@keyframes fromLeft {
  0% {
    opacity: 0;
    display: none;
    transform: translateX(-3rem);
  }

  80% {
    transform: translateX(1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    display: none;
    transform: translateX(3rem);
  }

  80% {
    transform: translateX(-1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(-7rem);
  }

  80% {
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
