*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 55%; // 1rem = 10px

  @include media(tab-land) {
    // width < 1200px
    font-size: 54%; // 1rem = 9px
  }

  @include media(tab-port) {
    // width < 900px
    font-size: 50%; //1rem =8px
  }

  @include media(phone) {
    // width < 600px
    font-size: 43.75%; // 1rem = 7px
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-golden;
  color: $color-primary;
}
