body {
  font-family: $font-primary;
  color: $color-primary;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  color: $color-primary;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  text-transform: uppercase;
  display: block;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation-name: fromLeft;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;

    @include media(tab-port) {
      letter-spacing: 0.4rem;
      font-size: 5rem;
    }

    @include media(phone-land-medium) {
      letter-spacing: 0.4rem;
      font-size: 5rem;
    }

    @include media(phone) {
      letter-spacing: 0.4rem;
      font-size: 5rem;
    }

    &-2 {
      background-image: linear-gradient(to right, $color-golden, $color-yellow);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    // or shorthand => animation: comingInLeft 1s ease-out
  }

  &--sub {
    display: block;
    font-size: 2.5rem;
    letter-spacing: 1rem;
    animation-name: fromRight;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;

    @include media(tab-port) {
      letter-spacing: 0.4rem;
      font-size: 2.1rem;
    }

    @include media(phone-land-large) {
      letter-spacing: 0.7rem;
      font-size: 2.3rem;
    }

    @include media(phone-land-medium) {
      letter-spacing: 0.7rem;
      font-size: 2.2rem;
    }

    @include media(phone) {
      letter-spacing: 0.4rem;
      font-size: 2.1rem;
    }
  }
}

.heading-secondary {
  font-size: 5rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-golden, $color-yellow);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;

  @include media(tab-port) {
    font-size: 4rem;
  }

  @include media(phone) {
    font-size: 4.2rem;
  }

  &--white {
    background-image: linear-gradient(to right, $color-primary, #fff);
  }

  &--small-lh {
    @include media(tab-port) {
      line-height: 1.4;
    }

    @include media(phone) {
      line-height: 1.4;
    }
  }
}
.heading-paragraph {
  display: block;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 400;
  padding: 0.3rem 0;

  &--white {
    color: $color-primary;
  }

  &--dark {
    color: $color-secondary;
  }
}
