body {
    font-family: $font-primary;
    color: $color-primary;
    font-weight: 300;
    line-height: 1.7;
}

.heading-primary {
    color: $color-primary;
    backface-visibility: hidden;
    margin-bottom: 7rem;
    text-transform: uppercase;
    display: block;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3rem;
        animation-name: fromLeft;
        animation-duration: 1s;
        animation-delay: .5s;
        animation-timing-function: ease-out;

        // or shorthand => animation: comingInLeft 1s ease-out
    }

    &--sub {
        display: block;
        font-size: 2.5rem;
        letter-spacing: 1rem;
        animation-name: fromRight;
        animation-duration: 1s;
        animation-delay: .5s;
        animation-timing-function: ease-out;
    }
}

.heading-secondary {
    font-size: 3.6rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-secondary, $color-secondary--light);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
}