.section-about {
  padding: 11rem 0 16rem 0;
  background-color: $color-grey-light-2;
  position: relative;
}

.work {
  padding: 11rem 6rem;
  background-image: $background-primary, url(../img/background-image-2.jpg);
  background-size: cover;
  background-position: top;
}
