@mixin easeOut {
  transition: all 0.4s ease-out;
}

@mixin easeOut-2 {
  transition: all 0.3s ease-out;
}

//  MEDIA QUERIES MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desk

ORDER: Base + ty[pgra[hy > general layout + grid > page layout > components
*/

// 1em = 16px

@mixin media($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // 600px
  }

  @if $breakpoint == phone-pxr-2 {
    @media only screen and (min-width: 20em) and (max-width: 41.68em) and (-webkit-min-device-pixel-ratio: 2) {
      @content;
    } // 600px
  }

  @if $breakpoint == phone-land-small {
    @media only screen and (min-width: 20em) and (max-width: 35.5em) and (orientation: landscape) {
      @content;
    }
  }

  @if $breakpoint == phone-land-medium {
    @media only screen and (min-width: 23.46em) and (max-width: 41.69em) and (orientation: landscape) {
      @content;
    }
  }

  @if $breakpoint == phone-land-large {
    @media only screen and (min-width: 25.88em) and (max-width: 46em) and (orientation: landscape) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } // 601px - 900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } // 901px - 1200px
  }
  @if $breakpoint == big-desk {
    @media only screen and (min-width: 112.5em) {
      @content;
    } // 1800px
  }
}
