.center-text {
  text-align: center !important;
}

.margin-bottom-big {
  margin-bottom: 7rem !important;
}

.text-golden {
  color: $color-golden;
}

.row {
  max-width: $grid-default;
  margin: 0 auto;
}

.row-2 {
  max-width: $grid-2;
  margin: 0 auto;
}
