// FONT VARIABLES
$font-primary: "Lato", Tahoma, Verdana, sans-serif;
$font-secondary: "PT Sans Narrow", sans-serif;

// COLORS
$color-primary: #e7dede;
$color-secondary: #1b2e44;
$color-secondary-2: #0b1622;
$color-secondary--light: #192d5c;

$color-secondary-light-left: #25345f;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #444;
$color-grey-dark-4: #333;

$color-grey-1: #444;
$color-grey-2: #999;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #d4c9c9e3;

$black: #000;
$white: #fff;

// $color-primary: #55c57a;
// $color-primary--light:  #7ed56f;
// $color-primary--dark: #28b485;

// $color-secondary-light: #ffb900;
$color-golden: peru;
$color-orange: #ff7730;
$color-yellow: #eece1a;

$background-primary: linear-gradient(
  to right top,
  rgba($color-grey-dark, 0.9),
  rgba($color-secondary--light, 0.9)
);

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

// $color-white: #fff;

// FONTS
$default: 1.6rem;

// GRID
$grid-default: 120rem;
